<html>
<head>
 <title></title>

</head>
<body>
 <h3>Mongoose Details:</h3>

 <h5>Mongooses Name: <%=  user.name %> </h5>
 <h5>description about Mongooses: <%=  user.data %> </h5>
 <h5>gender of Mongooses: <%=  user.gender %> </h5>
 <h5>Mongooses have these many babies: <%=  user.babies %> </h5>

 <button><a href="/main">Go Back!</a></button>
</body>
</html>