<html>
<head>
 <title></title>
</head>
<body>

 <h3>Edit a Mongoo!</h3>
 	<form action="/main" method="post">
	 	Name:<input type='text' name='name' value="<%=mon_data.name %>"><br><br><br>
	 	Mongooses Details: <input type='text' name='data' value="<%=mon_data.data %>"><br><br><br>
	 	Gender: <input type='text' name='gender' value="<%=mon_data.gender %>"><br><br><br>
	 	Babies:<input type='number' name='babies' value="<%=mon_data.babies %>"><br><br><br>
	 	<input type='submit' value='Update mongooses!'><br><br><br>
 </form>
</body>
</html>